<footer>
    <div class="Footer">
        <div class="mainfooter">
            <div class="container">
                <div class="row logo">
                    <img src="~/Content/Clients/dist/img/logo.png" class="logo" style="margin-bottom:10px;width:250px;height:80px;" />
                </div>
                <div class="row inf">
                    <div class="col-12 col-md-5">
                        <div class="Informations">
                            <p style="font-weight:bold;">
                                Ciara VN Company Limited
                                <br />Business Registration Certificate No. 0108985546 issued by Hanoi Department of Planning and Investment on November 14, 2019
                            </p>
                        </div>
                        <div class="footer-content">
                            <p>
                                <span class="fa fa-envelope"></span>
                                ciara.acc@gmail.com
                            </p>
                        </div>
                        <div class="footer-content">
                            <p>
                                <span class="fa fa-phone"></span>
                                024 3202 5998
                            </p>
                        </div>
                        <div class="footer-content">
                            <p>Head office/Address for receiving consignment: No. 24, Lane 34, To Vinh Dien Street, Khuong Trung Ward, Thanh Xuan District, Hanoi City, Vietnam</p>
                        </div>
                        <div class="footer-content">
                            <strong>Time to receive consignment: 9:00-18:00 daily</strong>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="Informations">
                            <strong>
                                Service
                            </strong>
                        </div>
                        <div class="mt-3">
                            <a href="/" style="color: black;">The Story of Glammie </a>
                        </div>
                        <div class="mt-3">
                            <a href="/" style="color: black;">Consignment liquidation policy</a>
                        </div>
                        <div class="mt-3">
                            <a href="/" style="color: black;">Return Policy</a>
                        </div>
                        <div class="mt-3">
                            <a href="/" style="color: black;">Free shipping policy</a>
                        </div>
                        <div class="mt-3">
                            <a href="/" style="color: black;">Information security policy</a>
                        </div>
                        <div class="mt-3">
                            <a href="/" style="color: black;">Order and payment policy</a>
                        </div>
                        <div class="mt-3">
                            <a href="/" style="color: black;">Frequently Asked Questions</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="Contact">
                            <p style="font-weight:bold;">Contact Ciara</p>
                            <p>
                                <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                                <a href="https://maps.app.goo.gl/BQKFCjmebvqC2NoD7" target="_blank" class="textlink" style="color:black;">View Map</a>
                            </p>
                            <a href="https://www.facebook.com/profile.php?id=61573131500633">
                                <img class="lazyautosizes ls-is-cached lazyloaded" data-sizes="auto" src="https://web.nvnstatic.net/tp/T0322/img/icon-facebook.png?v=8" data-src="https://web.nvnstatic.net/tp/T0322/img/icon-facebook.png?v=8" alt="" sizes="40px">
                            </a>
                            <a href="https://www.instagram.com/ciara.fashioncycle/">
                                <img class="lazyautosizes ls-is-cached lazyloaded" data-sizes="auto" src="https://web.nvnstatic.net/tp/T0322/img/icon-instagram.png?v=8" data-src="https://web.nvnstatic.net/tp/T0322/img/icon-instagram.png?v=8" alt="" sizes="60px">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row social">
                    <div class="social">
                        <div class="links" style="display:flex;">
                            <a href="/Home/CookiePolicy"><p class="textlink"><u>Cookies Policy</u></p></a>
                            <a href="/Home/Privacystatement"><p class="textlink"><u>Privacy Statement</u></p></a>
                            <a href="/Home/TermsAndConditions"><p class="textlink"><u>Terms and Conditions</u></p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
