@{
    ViewBag.Title = "Order successful";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container" style="margin-top: 150px;">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active">
                        <a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Shopping Cart</a>
                    </li>
                </ul>
            </div>

            <!-- Main Content -->

            <div class="row">
                <div class="col-md-12 text-center" id="load_data">
                    <h3>You have successfully purchased!</h3>
                </div>


            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
}

